@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

@import '@fortawesome/fontawesome-svg-core/styles.css';

::-moz-selection {
  /* Code for Firefox */
  @apply bg-purple-400 bg-opacity-60;
}

body {
  height: 100vh;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  @apply bg-purple-400 bg-opacity-60;
}

.bg-cta-squircle {
  transition: all 0.2s ease;
  // common SQUIRCLE props
  --squircle-radius: 1.25rem;
  --squircle-smooth: 3;

  // Styles for FILL
  &_fill {
    // SQUIRCLE props
    mask: paint(squircle);
    background: radial-gradient(
      54.76% 77.54% at 74.96% 66.44%,
      #2f5fff 0%,
      #5501e1 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

#app {
  height: 100%;
}

.btop {
  border-top-color: #5501e1;
}
